<div class="acs-bar-container" style="--timeScale:1; --timeDelay:0s;">
  <!-- Top Corners -->
  <div class="top-left-box">
    <span>SCP-999</span>
  </div>
  <div class="top-right-box">
    <span>Clearance 2</span>
  </div>

  <!-- Top Center Bars -->
  <div class="top-center-box">
    <div class="main-class safe">Safe</div>
    <div class="secondary-class none"><img src="https://acsurlexample.com/image.svg" alt="Secondary Class"></div>
    <div class="disrupt-class dark">Dark</div>
    <div class="risk-class notice">Notice</div>
    <div class="main-class safe">Safe</div>
    <div class="main-class safe">Safe</div>
  </div>

  <!-- Diamond -->
  <div class="bottom-box">
    <div class="diamond-part arrows">
      <div class="quadrants">
        <div class="top-icon"></div>
        <div class="right-icon"></div>
        <div class="bottom-icon"></div>
        <div class="left-icon"></div>
      </div>
    </div>
  </div>
</div>
